body{
    background-image: url("./assets/shared/desktop/bg-pattern-circle.svg");
    background-position: center top -550px;
    background-repeat: no-repeat;
    padding: 0;
    font-size: 15px;
    font-family: 'Public Sans', sans-serif;

}

body p{
    color: #36536B;
    font-weight: 400;
}

h1, h2, h3{
    font-family: 'DM Serif Display', serif
}

.nav-butn-primary{
    height: 48px;
    width: 173px;  
    background-color: #BA4270; 
    color: #FBFCFE; 
    border: none;
    display: block;
    border-radius: 24px;
    margin: auto;
    font-weight: 700;   
  }

  nav{
    font-weight: 700;
}

  nav ul li{
    text-align: center;
    
}

nav ul li a{
  text-decoration: none;
  color: #36536B;
}

  .navbar-toggler{
      border: none;
  }


header h1{
    text-align: center;
    font-size: 32px;


}


main{
    width: 100%;
    margin: 0;
}




main .row{
    display: flex;
    flex-direction: column;
}

 .pricing-main-text{
    text-align: center;
    color: #36536B;
    line-height: 28px;
    padding: 8% 0px 0px 0px;
} *

main h2{
    color: #BA4270;
    padding-left: 2%;
    margin-bottom: 10px;
}

main h1{
    color: #36536B;
    font-size: 52px;
}

.butn-primary:hover{
    background-color: rgba(186, 66, 112, 0.75);
}

main ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40%;
}



.primary-btn{
height: 48px;
width: 168px;
color: #36536B;
background: #F2F2F2;
border-radius: 24px;
font-weight: 700;
border: 1px solid #36536B;
margin-left: 6%;


}

.primary-btn:hover{
    background-color: #36536B;
    color: #F2F2F2;
}

.hr{
    display: block;
    width: 90%;
    margin: auto;
}

main p{
display: none;
}


main li{
    margin-bottom: 3px;
}


span img{
    padding-right: 10px;
}

footer li{
    cursor: pointer;
}




@media screen and (min-width: 768px){

    header h1{
        text-align: center;
        font-size: 48px;
    }
    
    nav ul li{
        padding-left: 40px;
         }



    .pricing-main-text{
        text-align: center;
    }


    main ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 1%;
    }

    main div p{
        height: 84px;
        width: 223px;
        display: block;
        }


        main .row{
            display: flex;
            flex-direction: row;
        }

        .main-ul{
         padding-left: 30%;
        }

}


@media screen and (min-width: 992px){


    body{
        background-image: url("./assets/shared/desktop/bg-pattern-circle.svg");
        background-position:  right top -550px;
        background-size: 780px 780px;
    }

    nav{
        margin: 1% 3%;
    }


    header h1{
        text-align: start;
        font-size: 56px;
        padding-top: 30px;
        padding-left: 48px;
        padding-right: 48px;
    }
    

    main{
        padding: 2% 5%;
    }

    nav ul li{
        padding-left: 30%;
         }

.pricing-main-text{
    text-align: start;
}

main .row{
    display: flex;
    flex-direction: row;
}

.main-ul{
    padding-left: 2.8px;
   }



}